# Built files
object/
bin/
lib/
build/
/include/
src/opencmiss_c.f90

# OpenCMISS examples repository
/examples

# OpenCMISS output
*.diag
*.out

# Editor files
*.swp
*~
doc/notes/EquationSets/FluidMechanicsClass/ConvectiveTransport.tex

# MacOS
.DS_Store

.nfs0000000014f80f9d00037e5a
.nfs0000000014f8121c00037e5b
.nfs0000000014f856b600037e59



